.top-banner {
    height: 100px;
    background-color: gold;
   
}

.top-banner p{
   
    transform: translate(45%, 150%);
   font: 20px georgia;
   font-weight: bold;
   
}

.body-container {
    margin: 40px 0;
    display: flex;
    justify-content: space-around
}

.container-1{
    width: 45%;
    background-color: blueviolet;
    height: auto;
}

.container-2 {
    width: 45%;
    background-color: aqua;
    height: auto
}

.container-1 img, .container-2 img {
    display:block;
    width: 90%;
    height:auto;
    margin: 20px auto;
}


.container-1 h1, .container-2 h1 {
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 30px;
   text-align:center;

}

.footer{
    background-color: plum;
    height: 100px;
}



.container-1 .small-text, .container-2 .small-text {
    font: 14px arial;
    font-weight:normal;
    margin: 0 20px;
}


.footer ul{
    
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    list-style-type: none;
    height: inherit
}

.bottom-nav li{
   
    width: 15%;
    height:auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-transform: capitalize;
    
}